
.footer {
    margin-top: 21em;
}
.icons ul{
    text-align: center;
}
.icons ul li{
    display:inline-block;
    margin:0 .2em;
}
.icons ul li a.qq{
    background: url(/images/footer/iconsc.jpg) no-repeat -5px -3px;
    height: 24px;
    display: block;
    width: 24px;
    border-radius: 50px;
}
.icons ul li a.wechat{
    background: url(/images/footer/iconsc.jpg) no-repeat -40px -3px;
    border-radius: 50px;
}
.icons ul li a.twitter{
    background: url(/images/footer/icons.png) no-repeat 0px 0px;
    height: 24px;
    display: block;
    width: 24px;
}
.icons ul li a.facebook{
    background: url(/images/footer/icons.png) no-repeat -33px 0px;
}
.icons ul li a.chrome{
    background: url(/images/footer/icons.png) no-repeat -66px 0px;
}
.icons ul li a.pinterest{
    background: url(/images/footer/icons.png) no-repeat -99px 0px;
}
.icons ul li a.linkedin{
    background: url(/images/footer/icons.png) no-repeat -132px 0px;
}
.icons ul li a:hover {
    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.copy-right p {
    color: #DADCE0;
    font-size: 1em;
    margin: 1em 0 0;
    text-align: center;
}

.copy-right p a {
    color: #F00;
    font-size: 1em;
    padding-left: 7px;
}
.copy-right p{
    padding-left: 10px;
}
.icons ul{
    padding-left: 0px;
}
.copy-right p a:hover{
    color: #555;
}
.go h5{
    color: red;
    font-family:华文仿宋;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

