.main-menu .wp-menu  {
    font-size: 16px;
    text-align: center;
    color: #fff;
    height: 45px;
    margin: 0px;
    padding:0px;
    list-style-type: none;
}

/* 横向主菜单 */
.main-menu{ width: 200px;height: 35px;padding-top: 20px;}
.main-menu .wp-menu { margin-left: 100px; margin: 0px;  display: block;}
.main-menu .wp-menu .menu-item{ background:#c0c0c0;display: block;position: relative; padding: 0px; margin: 0px;width: 110px;margin-bottom: -1px}

.main-menu .wp-menu .menu-item .menu-link {
    color:#FFF;
    text-decoration: none;
    text-align: center;display:
        inline-block;padding: 8px 7px 8px 7px;height: 50px;line-height: 50px;font-size: 16px;}
.main-menu .wp-menu .menu-item a.menu-link:hover {color:#fff;}

/* 纵向子菜单 默认隐藏 */
.main-menu .wp-menu .menu-item .sub-menu {
    display: none;position: absolute; width: 100px;background:#c0c0c0;padding: 10px;margin: 0px;list-style-type: none;z-index: 100;margin-top: -1px}
.main-menu .wp-menu .menu-item .sub-menu .sub-item {
    display: block;width: auto;float:none;margin:0px;padding: 0px; height: 2em}
.main-menu .wp-menu .menu-item .sub-menu .sub-item .sub-link{
    font-size: 15px;text-align: center;color: #fff;display: inline-block;height:auto;padding: 0px;margin: 0px;background: #000000;text-decoration: none}
.main-menu .wp-menu .menu-item .sub-menu .sub-item .sub-link:hover{color: #000000;background: #fff;}

