.top-nav {
    position: relative;
    padding: 1em 0;
}

/*--header--*/
div#bs-example-navbar-collapse-1 {
    padding: 0;
}
nav.navbar.navbar-default {
    background: none;
    border: none;
    margin: 0;
}
ul.nav.navbar-nav {
    margin-top: 1em;
}
.navbar-nav li {
    margin: 0 1em;
}
.navbar-nav li:nth-child(1){
    margin-left: 0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #F35B5B;
    outline: none;
}
/*--Effect 5: same word slide in-- */
.cl-effect-5 li a {
    overflow: hidden;
    line-height: 40px;
    padding: 0 8px 0 0;
    font-size: 1.2em;

}
.navbar-default .navbar-nav>li>a{
    color: #FF3030;
}
.cl-effect-5 li a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
.cl-effect-5 li a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.cl-effect-5 li a:hover span,
.cl-effect-5 li a:focus span,.cl-effect-5 li a.active span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    color:#F35B5B;
}
/*--search-button--*/
form.navbar-form.navbar-right {
    margin: 0;
    padding: 0;
}
.form-group {
    position: relative;
}
.top-nav input.form-control {
    padding: 8px 35px 8px 10px;
    height: inherit;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid;
    -webkit-appearance: none;
    color: #000;
    background: none;
    box-shadow: none;
    border-radius: 0;
}
.top-nav button.btn.btn-default {
    border: none;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 6%;
    right: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
    background: none;
}
button.btn.btn-default:focus {
    background-color: inherit !important;
    box-shadow: none !important;
    border: none !important;
    outline: none;
}
.form-control:focus {
    border-color: #4B307F;
    box-shadow:none;
}
span.glyphicon.glyphicon-search {
    font-size: 1.5em;
    color: #01553D;
}
span.glyphicon.glyphicon-search:focus {
    outline: none;
}
/*--logo--*/
.top-nav {
    position: relative;
    padding: 1em 0;
}
.logo {
    position: absolute;
    top: 14%;
    right: 43%;
    background-color: rgba(255, 0, 0, 0.52);
    padding: 0 1em;
}
.logo h1 {
    font-size: 6em;
    font-family: 'Romanesco-Regular';
    letter-spacing: 3px;
}
.logo h1 a {
    color: #fff;
}
.nav-account {
    background: #ff411c;
    border-radius: 20px;
    color: #fff;
    line-height: 24px;
    float: right;
    padding: 2px 0;
    margin-top: 12px;
    margin-left: 10px;
    white-space: nowrap;
}
.nav-userinfo{
    background: #ff411c;
    border-radius: 20px;
    color: #fff;
    line-height: 24px;
    float: right;
    padding: 2px 0;
    margin-top: 12px;
    margin-left: 10px;
    white-space: nowrap;
}
.nav-userinfo .a{

}
.nav-account .button{
display: inline-block;
color: #fff;
font-size: 14px;
padding: 0 20px;
}
/*--//header--*/

/*login css*/
.SignFlow {
    overflow: hidden;
}
.SignFlow-account {
    margin-top: 16px;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0;
}
.SignFlow-supportedCountriesSelectContainer {
    display: inline-block;
    float: left;
    min-width: 72px;
}
.SignFlow-accountInputContainer {
    overflow: hidden
}
.SignFlowInput .Input-wrapper {
    width: 100%;
    height: 48px;
    padding: 0;
    color: #8590a6
}
.SignFlowInput input.Input {
    height: 48px
}
input.Input {
    color: #1a1a1a;
    height: 24px;
    line-height: 24px
}
.SignFlow input {
    height: 48px
}
.Input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    /* flex: 1; */
    padding: 0;
    overflow: hidden;
    font-family: inherit;
    /* font-size: inherit; */
    font-weight: inherit;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
}
.SignFlowInput-errorMask--hidden {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
}
.SignFlowInput-errorMask {
    position: absolute;
    right: 0;
    height: 90%;
    padding: 12px 0 0 20px;
    margin-top: -47px;
    font-size: 14px;
    color: #f1403c;
    text-align: right;
    cursor: text;
    background: #fff;
    opacity: 1;
    box-sizing: border-box;
    transition: opacity .25s ease;
}
.SignFlow-password {
    position: relative;
    margin-top: 12px;
}
.SignFlow-accountInputContainer {
    overflow: hidden;
}
.SignFlowInput {
    position: relative;
}
.SignFlow-switchPassword {
    position: absolute;
    top: 24px;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.SignFlow-submitButton {
    width: 100%;
    height: 36px;
}
.SignContainer-switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    background-color: #f6f6f6;
    height: 58px;
    border-top: 1px solid #ebebeb;
    font-size: 16px;
}
button {
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}
/*end*/
